{% extends 'project/base.html' %}

{% load static %}

{% block head_title %}프로젝트{% endblock %}
{% block main_area %}
<div class="container-xl col-lg-6 mt-5">
    <div class="h1 fw-bold mb-5">프로젝트 팀원 모집하기</div>
    <form action="" method="post" class="">
        {% csrf_token %}
        <div class="my-3">{{ form.title }}</div>
        <div class="row my-3">
            <div class="col-sm-6 my-1">{{ form.max_recruit }}</div>
            <div class="col-sm-6 my-1">{{ form.estimate }}</div>
        </div>
        <div class="my-5">{{ form.description }}</div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-lg btn-primary px-5" type="submit">제출</button>
        </div>
    </form>
</div>
{% endblock %}